:root {
    --navy: #0A1920;
    --orange: #FB6E38;
    --dark-orange: #e24304;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #616469;
    --light-gray: #ffffffe1;
    --ice: #F4F4F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* =========== Animation */

@keyframes show-up {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Scrollbar */

.our__blog section div button:hover {
    background-color: var(--dark-orange);
    transition: .5s ease-in-out;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: var(--ice)
}

body::-webkit-scrollbar-thumb {
    background-color: var(--navy);
    border: 0.0625rem solid var(--ice);
}

/* ======================= HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--navy);
    padding: 2rem;
    color: var(--white);
}

.header img {
    max-width: 13.75rem;
    width: 75%;
    z-index: 1;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.25rem;
    z-index: 5;
}

.menu a {
    font-weight: 300;
    padding: 0 1rem;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    position: relative;
}

.menu a::after {
    content: " ";
    width: 0%;
    height: 0.125rem;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
    margin-left: 15%;
}

.menu a:hover::after {
    width: 70%;
}

.menu a span {
    color: var(--dark-orange);
}

.btn__mobile {
    color: var(--orange);
    background-color: var(--navy);
    border: none;
    font-size: 1.25rem;
}

.header div {
    z-index: 2;
}

.header div button {
    font-size: 1rem;
    font-weight: 300;
    padding: 1.25rem 2.25rem;
    color: var(--white);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header div button:nth-child(2) {
    font-weight: 600;
    color: var(--orange);
    background-color: var(--white);
}

.header div button:hover:nth-child(2) {
    background-color: var(--dark-orange);
    color: var(--white);
    transition: .5s ease-in-out;
}

.menu__nav button {
    display: none;
}

/* ======================= MENU MOBILE */

.btn__mobile {
    display: none;
}

.close__menu {
    display: none;
}

.close__menu i {
    font-size: 1.25rem;
    color: var(--black);
    margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
    .btn__mobile {
        display: block;
    }

    .close__menu {
        display: block;
    }

    .menu__nav {
        display: none;
    }

    .menu.active .menu__nav {
        display: flex;
        position: fixed;
        background-image: linear-gradient(-225deg, #fdf1e3 0%, #e6ecff 100%);
        box-shadow: 0rem 0rem 0.5rem -0.25rem var(--preto-social-medias);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        max-width: 20rem;
        width: 100%;
        right: 0;
        top: 0;
        z-index: 100;
        padding: 2rem;
        animation: show-up 1s;
    }

    .menu.active .menu__nav a {
        padding: 1rem;
        color: var(--black);
        font-weight: 500;
    }

    .menu.active .menu__nav button {
        display: flex;
        color: var(--black);
        font-weight: 800;
        margin-bottom: 0.75rem;
    }

    .menu.active .menu__nav button:first-of-type {
        background-color: var(--orange);
    }

    .header div {
        display: none;
    }
}

/* BODY */

/* ======================= MAIN ARTICLE */

.main__article {
    position: relative;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    padding: 5rem 2rem;
    color: var(--white);
    background-color: var(--navy);
}

.main__container img {
    max-width: 37.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
    z-index: 2;
}

.main__content {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    z-index: 2;
}

.main__content h1 {
    font-size: clamp(2.5rem, 4.5vw, 4.875rem);
}

.main__content p {
    max-width: 25rem;
    width: 95%;
    font-weight: 400;
    color: var(--light-gray);
}

.main__content button {
    max-width: 10.625rem;
    width: 100%;
    height: 3.6875rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    cursor: pointer;
}

.main__content button:hover {
    background-color: var(--dark-orange);
    transition: .5s ease-in-out;
}

.main__content section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}

.main__content section div h3 {
    font-size: 1rem;
    color: var(--orange);
    text-transform: uppercase;
    margin-bottom: 0.75rem;
}

.main__content section div i {
    color: var(--white);
    margin-right: 0.75rem;
}

.main__content section div h4 {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--light-gray);
    margin-left: 2.375rem;
}

.square {
    position: absolute;
    max-width: 34.375rem;
    width: 85%;
    height: 35rem;
    background-color: var(--orange);
    top: 0;
    right: 0;
}

@media screen and (max-width: 590px) {
    .square {
        height: 35%;
    }
}

@media screen and (max-width: 1000px) {
    .square {
        top: 7.5rem;
    }
}

@media screen and (max-width: 1063px) {
    .main__content {
        align-items: center;
        text-align: center;
    }
}


/* ======================= PARTNERS */

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7.5rem;
    padding: 7.5rem 2rem;
}

.partners img {
    max-width: 12.5rem;
    width: 95%;
}

@media screen and (max-width: 583px) {
    .partners {
        padding: 2.5rem 2rem;
    }
}

/* ======================= BESTS SERVICES */

.bests_services {
    background-color: var(--ice);
    padding: 5rem 2rem;
}

.bests_services section:first-of-type {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5.5rem;
    padding-left: 0.25rem;
    margin-left: 0.25rem;
}

.bests_services section:first-of-type h3 {
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 1.75rem;
}

.bests_services section:first-of-type h2 {
    font-size: clamp(1.75rem, 3vw, 5.25rem);
    text-align: start;
}

.bests_services section:first-of-type p {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    font-weight: 400;
    color: var(--gray);
    max-width: 27.5rem;
    width: 100%;
}

.bests_services section:not(:first-child) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7.5rem;
}

.bests_services_container {
    max-width: 20rem;
    padding: 1rem;
    width: 95%;
    display: flex;
}

.bests_services_container i {
    font-size: 2rem;
    margin-right: 0.75rem;
    color: var(--orange);
}

.bests_services_container div h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.bests_services_container div p {
    font-size: 1.0625rem;
    font-weight: 400;
    color: var(--gray);
}

@media screen and (max-width: 793px) {
    .bests_services {
        text-align: center;
    }

    .bests_services section:first-of-type {
        margin-bottom: 2.5rem;
    }

    .bests_services section:first-of-type h2 {
        margin-bottom: 1.75rem;
        text-align: center;
    }
}

@media screen and (max-width: 823px) {
    .bests_services section:not(:first-child) {
        gap: 2.5rem;
    }
}

/* ======================= ABOUT US */

.about__us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem 0px;
}

.about__us img {
    max-width: 38.125rem;
    width: 95%;
    margin: 0 2.5rem 0 0;
}

.about__us div h3 {
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 1.75rem;
}

.about__us div h2 {
    font-size: clamp(1.75rem, 3vw, 5.25rem);
    margin-bottom: 1.75rem;
    text-align: start;
}

.about__us div p {
    text-align: start;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 2.25rem;
}

.about__us div button {
    max-width: 10.625rem;
    width: 100%;
    height: 3.6875rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    cursor: pointer;
}


.about__us div button:hover {
    background-color: var(--dark-orange);
    transition: .5s ease-in-out;
}

@media screen and (max-width: 1012px) {
    .about__us {
        text-align: center;
    }

    .about__us div h2,
    .about__us div p {
        text-align: center;
    }

    .about__us img {
        margin: 0 1.25rem 0 1.25rem;
    }
}

/* ======================= PROJECTS */

.projects {
    padding: 0rem 5rem;
}

.projects nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.projects nav h2 {
    font-size: clamp(1.75rem, 3vw, 5.25rem);
}

.projects nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.projects nav ul li {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 600;
    list-style: none;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.projects nav ul li::after {
    content: " ";
    width: 0%;
    height: 0.125rem;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.projects nav ul li:hover::after {
    width: 100%;
}

.projects__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
    max-width: 79.0625rem;
    margin: 0 auto;
}

.projects__div img {
    max-width: 40.625rem;
    height: 20.9375rem;
}

@media screen and (max-width: 420px) {
    .projects nav {
        margin-bottom: 0.75rem;
    }
}

@media screen and (max-width: 587px) {
    .projects {
        padding: 0rem 1.25rem;
    }

    .projects__div img {
        width: 100%;
        max-height: 14.375rem;
        align-self: flex-start;
    }
}

@media screen and (max-width: 778px) {
    .projects nav ul {
        margin-top: 1.5rem;
    }
}

/* ======================= SERVICES */

.services {
    padding: 5rem 0rem;
}

.services__div {
    text-align: center;
}

.services__div h3 {
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 1.75rem;
}

.services__div h2 {
    font-size: clamp(1.75rem, 3vw, 5.25rem);
    margin-bottom: 1.75rem;
}

.services__div p {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--gray);
    margin: 0 auto;
    margin-bottom: 2.25rem;
    max-width: 43.75rem;
    width: 95%;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
}

.services section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.services__img {
    max-width: 37.5rem;
    width: 100%;
}

.services__section__div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.services__section__div__container div {
    max-width: 18.75rem;
    width: 95%;
    margin: 2rem 0rem;
}

.services__section__div__container div h3 {
    font-size: 1.25rem;
    margin: 1.25rem 0;
}

.services__section__div__container div p {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 2.25rem;
}

.services__section__div__container div button {
    max-width: 12.5rem;
    width: 100%;
    height: 4.375rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--navy);
    border: none;
    cursor: pointer;
}

.services__section__div__container div button:hover {
    background-color: var(--dark-orange);
    transition: .5s ease-in-out;
}

@media screen and (max-width: 599px) {
    .services__section__div {
        justify-content: center;
    }
}

@media screen and (max-width: 1211px) {
    .services__section__div__container div {
        text-align: center;
    }
}

/* ======================= TESTIMONIAL */

.testimonial {
    background-color: var(--navy);
    color: var(--white);
    padding: 5rem 0rem;
    text-align: center;
}

.testimonial h3 {
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 1.75rem;
}

.testimonial p {
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 2.25rem;
    max-width: 43.75rem;
    width: 95%;
    margin: 0 auto;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
}

.testimonial section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7.5rem;
    margin-top: 3.75rem;
}

.testimonial section div {
    opacity: .6;
    padding: 2rem;
    cursor: pointer;
}

.testimonial section div:hover {
    opacity: 1;
}

.testimonial__img {
    max-width: 11.25rem;
    border-radius: 50%;
    border: 0.25rem solid var(--white);
    margin-bottom: 1.25rem;
    cursor: pointer;
}

.testimonial section div h4 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.testimonial section div h5 {
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
}

.testimonial button {
    max-width: 20.625rem;
    width: 95%;
    height: 4.375rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    cursor: pointer;
    margin-top: 2.5rem;
}

.testimonial button:hover {
    background-color: var(--dark-orange);
    transition: .5s ease-in-out;
}

@media screen and (min-width: 488px) {
    .testimonial__div a {
        pointer-events: none;
    }
}

@media screen and (max-width: 971px) {
    .testimonial section {
        gap: 0;
    }
}

/* ======================= OUR BLOG */

.our__blog {
    padding: 5rem 0rem;
}

.our__blog h3:first-child,
h2 {
    text-align: center;
}

.our__blog h3:first-child {
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 1.75rem;
}

.our__blog h2 {
    font-size: clamp(1.75rem, 3vw, 5.25rem);
    margin-bottom: 5rem;
}

.our__blog section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.25rem;
}

.our__blog section div {
    display: flex;
    flex-direction: column;
    max-width: 24.0625rem;
    width: 95%;
    padding: 1rem;
    box-shadow: 0rem 0rem 1.75rem -0.875rem rgba(0, 0, 0, 0.75);
    background-color: var(--white);
}

.our__blog section div img {
    width: 100%;
    margin-bottom: 0.75rem;
}

.our__blog section div h5 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: var(--orange);
}

.our__blog section div h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.our__blog section div p {
    font-size: 1.125rem;
    color: var(--gray);
    margin-bottom: 2.75rem;
}

.our__blog section div button {
    max-width: 11.25rem;
    width: 95%;
    height: 4.375rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

@media screen and (max-width: 805px) {
    .our__blog h2 {
        margin-bottom: 2.5rem;
    }
}


/* ======================= FOOTER */

.footer {
    background-color: var(--navy);
    padding: 5rem 0 1.875rem 0;
}

.footer-article img {
    max-width: 13.75rem;
    width: 95%;
}

.footer-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7.5rem;
}

.footer-article form p {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    max-width: 18.75rem;
    color: var(--ice);
    font-weight: 300;
    margin: 1.125rem 0 2.5rem 0;
}

.footer-article form input[type=email] {
    font-size: 1.125rem;
    padding: 1rem 2rem;
    width: 12.5rem;
    border: none;
}

.footer-article form input[type=email]:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.footer-article form button {
    font-size: 1.125rem;
    border: none;
    color: var(--white);
    background-color: var(--orange);
    padding: 1rem 2rem;
    cursor: pointer;
}

.footer-article form button:hover {
    background-color: var(--dark-orange);
    transition: .5s ease-in-out;
}

.footer-article section {
    display: flex;
    flex-wrap: wrap;
}

.footer-article section div {
    padding: 2rem;
}

.footer-article section div:not(:last-child) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-article section div h3 {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1.75rem;
}

.footer-article section div a {
    text-decoration: none;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 1.25rem;
}

.footer-article section div a:hover {
    text-decoration: underline;
}

.footer-article section div i {
    color: var(--white);
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
}

.footer-article section div i:hover {
    color: var(--orange);
    transition: .5s ease-in-out;
}

.copyright__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 61%;
    margin: 5rem 0 2rem 0;

}

.footer span {
    color: var(--light-gray);
    text-align: center;
}

@media screen and (max-width: 1165px) {

    .footer-article {
        gap: 2.5rem;
    }

    .footer-article form {
        text-align: center;
    }

    .footer-article form p {
        margin: 1.125rem 2.5rem 0;
        margin-bottom: 1.25rem;
    }
}

@media screen and (max-width: 701px) {
    .footer-article section {
        justify-content: center;
        align-items: center;
    }
}