:root {
    --blue: #0A1920;
    --orange: #FB6E38;
    --dark-orange:#e24304;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #616469;
    --light-gray: #ffffffe1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* ======================= HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--blue);
    padding: 32px;
    color: var(--white);
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.menu a {
    font-weight: 300;
    padding: 0 16px;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    position: relative;
}

.menu a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
    margin-left: 15%;
}

.menu a:hover::after {
    width: 70%;
}

.menu a span {
    color: var(--orange);
}

.header div {
    z-index: 2;
}

.header div button {
    font-size: 16px;
    font-weight: 300;
    padding: 20px 36px;
    color: var(--white);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header div button:nth-child(2) {
    font-weight: 600;
    color: var(--orange);
    background-color: var(--white);
}

.header div button:hover:nth-child(2) {
    background-color: var(--dark-orange);
    color: var(--white);
    transition: .5s ease-in-out;
}

/* BODY */

/* ======================= MAIN */

.main__article {
    position: relative;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 32px;
    color: var(--white);
    background-color: var(--blue);
}

.main__container img {
    max-width: 600px;
    width: 95%;
    z-index: 2;
}

.main__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__content section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 48px;
}

.main__content h1 {
    font-size: 72px;
}

.main__content p {
    font-weight: 400;
    color: var(--light-gray);
}

.main__content button {
    max-width: 170px;
    height: 59px;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    cursor: pointer;
}

.main__content button:hover {
    background-color: var(--dark-orange);
    transition: .5s ease-in-out;
}

.main__content section div h3 {
    font-size: 16px;
    color: var(--orange);
    text-transform: uppercase;
    margin-bottom: 12px;
}

.main__content section div i {
    color: var(--white);
    margin-right: 12px;
}

.main__content section div h4 {
    font-size: 14px;
    font-weight: 400;
    color: var(--light-gray);
    margin-left: 2.375rem;
}

.square {
    position: absolute;
    width: 550px;
    height: 560px;
    background-color: var(--orange);
    top: 0;
    right: 0;
    z-index: 1;
}